* {
	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}
::-moz-selection {
	color: white;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.75);
}
::selection {
	color: white;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.75);
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.87em;
	background-color: #FDFDFD;
}
body > div.ubercontent {
	position: absolute;
	
	width: 600px;
	
	margin-left: calc(50% - 300px);
	margin-top: 12.5%;
	
	white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
hr {
	margin: 11px 0;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-left: none;
	border-right: none;
	border-bottom: none;
}

a {
	text-decoration: none;
	transition: 0.066s;
	color: #FF8030;
}
a:hover {
	color: #C06018;
}

div.social {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	
	display: inline-block;
}
div.social > a > img {
	opacity: 0.6;
	transition: inherit;
}
div.social > a > img:hover {
	opacity: 1.0;
}

div.content {
	padding: 0 10px;
	text-align: center;
	max-width: 100%;
	white-space: normal;
}
div.footer {
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	opacity: 0.2875;
}
code {
	display: inline-block;
	font-size: 1em;
}
code.text {
	width: 440px;
	text-align: justify;
	font-size: 1.1em;
}
