* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-moz-selection {
	color: red;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);
}
::selection {
	color: red;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.9);
}

html {
	font-size: 0.925em;
	font-family: 'Khula', sans-serif;
	
	color: #202020;
	background-color: #F8F8F8;
}

body { 
	margin-left: 50%;
	margin-top: 7.5%;
	transform: translate(-50%, 0);
	
	height: 100%;
	width: 520px;
}

h1#title-main {
	cursor: default;
	
	color: #A0A0A0;
	text-align: center;
	font-size: 3.0em;
	font-family: 'Quantico', 'Khula', sans-serif;
}
h1#title-main > span {
	transition: 0.175s;
}
h1#title-main > span:hover {
	color: black;
}

hr {
	margin: 30px 0;
	opacity: 0.25;
	box-shadow: 0 0 10px #404040;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.666);
}

a:not(.badge) {
	color: #606060;
	text-decoration: none;
	transition: 0.1s;
}
a:not(.badge):hover {
	color: black;
	padding-left: 3px;
}

div#content {
	padding: 0 40px;
	text-align: justify;
}
div#content > p {
	line-height: 1.175em;
	opacity: 0.80;
	transition: 0.1s;
}
/*div#content > p:hover {
	opacity: 1;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}*/
div#content > p:not(:first-child) {
	margin-top: 8px;
}

div#social {
	position: relative;
	text-align: right;
}
div#social > a {
	cursor: pointer;
	
	opacity: 0.666;
	
	transition: 0.1s;
}
div#social > a:hover {
	opacity: 1;
}
div#social > div#counter {
	position: absolute;
	float: left;
	bottom: 1em;
	
	opacity: 0.8;
	font-size: 0.7em;
}

div#content > div#social {
	margin-top: 10px;
}
