html, body {
	margin: 0;
	padding: 0;
	font-size: .92em;
	height: 100%;
	width: 100%;
}


* {
	/* Ensure things size normally. */
	box-sizing: border-box;
}

*::selection {
	background-color: #FF2040;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


body > div.content {
	display: inline-block;

	/* Center-ish. */
	margin: 10%;
}

body > div.content {
	font-size: 0.95em;
}

body > div.content code {
	font-size: 1.1em;
}

body > div.content h1,
body > div.content h2,
body > div.content h3,
body > div.content h4,
body > div.content h5,
body > div.content h6 {
	margin: 24px 0 4px 0;
}


footer {
	position: fixed;
	bottom: 0;
	right: 0;

	padding: 4px 8px;

	font-size: 0.666em;
}


.magic-title {
	display: table;
	font-size: 2.65em;
	cursor: default;
}

.magic-title > .peekaboo {
	display: inline-block;
	width: 0px;
	overflow-x: hidden;
	transition: .15s;
	vertical-align: bottom;
}

.magic-title:hover > .peekaboo {
	width: 1ch;
}




ol, ul {
	margin: 0;
	padding: 0 0 0 24px;
}

ol.spaced > li:not(:first-of-type), ul.spaced > li:not(:first-of-type) {
	margin: 12px 0 0 0;
}


a {
	transition: 0.125s;
}

a:visited {
	color: inherit;
}

a:hover {
	opacity: 0.8;
}




code.easy-select {
	user-select: all;
}




@media (orientation: landscape) {

	body > div.content {
		margin-left: 50%;
		transform: translateX(-50%);
	}

}
