html, body {
	margin: 0;
	padding: 0;
	font-size: .92em;
	height: 100%;
	width: 100%;
}


* {
	/* Ensure things size normally. */
	box-sizing: border-box;
}

*::selection {
	background-color: #FF2040;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


body > div.content {
	display: inline-block;

	/* Center-ish. */
	margin: 10%;
}

body > div.content > p {
	font-size: 0.95em;
}


footer {
	position: absolute;
	bottom: 0;
	right: 0;

	padding: 4px 8px;

	font-size: 0.666em;
}


.magic-title {
	display: table;
	font-size: 2.65em;
	cursor: default;
}

.magic-title > .peekaboo {
	display: inline-block;
	width: 0px;
	overflow-x: hidden;
	transition: .15s;
	vertical-align: bottom;
}

.magic-title:hover > .peekaboo {
	width: 1ch;
}




@media (orientation: landscape) {

	body > div.content {
		margin-left: 50%;
		transform: translateX(-50%);
	}

}
